﻿@model TblTipoServicio

<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Tipo Servicios</h3>
            <form asp-action="GuardarServicio" asp-controller="TipoServicios" method="post">
                <br />
                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Servicio(*)</label>
                        <input type="text" asp-for="Descripcion" class="form-control" placeholder="Ingrese Servicio">
                    </div>
                    @*<div class="form-group col-md-2">
                        <label>Tipo de Documento(*)</label>
                        <select asp-for="TipoServicioEstadoId" class="form-control" asp-items="@(new SelectList(ViewBag.TblTipoServicioEstado, "Id", "Estado"))">
                            <option>Seleccione</option>
                        </select>
                    </div>*@
                </div>
                <div class="form-group col-md-2">
                    <label></label>
                    <br />
                    <button type="submit" class="btn btn-primary"> Registrar</button>
                </div>
            </form>
            <label class="col-md-6">(*) Campos Obligatorios</label>
        </div>
    </div>
</div>
