﻿
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Tipo Servicios</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCliente" class="table table-bordered table-striped dt-responsive tablas">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblTipoServicio TipoServi in ViewBag.TipoServicio)
                            {

                                <tr>
                                    <td>@TipoServi.Descripcion</td>
                                    @*<td>@TipoServi.TipoServicioEstado.Estado</td>*@
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Modificar" asp-controller="TipoServicios" asp-route-id="@TipoServi.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="TipoServicios" asp-route-id="@TipoServi.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
