﻿@model ProyectoWsicav.Models.Tbl_CorreoCampana

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_CorreoCampana</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asunto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asunto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desde)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desde)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hasta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lunes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lunes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Martes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Martes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Miercoles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Miercoles)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jueves)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jueves)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Viernes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Viernes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sabado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sabado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Domingo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Domingo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorreoPlantillaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorreoPlantillaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CorreoEmpresaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CorreoEmpresaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hora3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hora3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
