﻿
<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Conductores</h3>
            <form>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Codigo</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese Codigo">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Fecha Ingreso</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker4" readonly value="12/02/2020">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Usuario</label>
                        <input type="text" class="form-control" id="inputEmail4" readonly value="Administrador">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Tipo de Documento</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccionar</option>
                            <option>DNI</option>
                            <option>RUC</option>
                            <option>CE</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputAddress">N° de Documento</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Num Documento">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Apellidos</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Nombres</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Direccion</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Ingrese Direccion">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Fecha de Nacimiento</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker2" placeholder="Fecha">
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputAddress">Edad</label>
                        <input type="text" class="form-control" placeholder="Edad">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Telefono</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese Telefono">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Email</label>
                        <input type="text" class="form-control" id="inputPassword4" placeholder="Ingrese Celular">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Tipo de Licencia</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccionar</option>
                            <option>A</option>
                            <option>B</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputAddress"></label>
                    <br />
                    <button class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>



<script>
        $(document).ready(function () {
            $(".tablas").DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
                    "infoFiltered": "(Filtrado de _MAX_ total Registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                pageLength: 5,
                lengthMenu: [
                    [5, 10, 20, -1],
                    [5, 10, 20, 'Todos']
                ]
            });
        });
</script>