﻿
<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Vehiculos</h3>
            <form>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Codigo</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese Codigo">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Fecha Ingreso</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="datepicker4" readonly value="12/02/2020">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Usuario</label>
                        <input type="text" class="form-control" id="inputEmail4" readonly value="Administrador">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Placa</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Placa" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Tipo de Vehiculo</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccionar</option>
                            <option>AUTO</option>
                            <option>MINIVAN</option>
                            <option>BUS</option>
                            <option>OTRO</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Status Transporte</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccionar</option>
                            <option>Disponible</option>
                            <option>Mantenimiento</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Marca</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Marca Vehicular" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">N° Asientos</label>
                        <input type="number" min="0" max="500" class="form-control" id="inputEmail4" placeholder="0">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Capacidad Maletas</label>
                        <input type="number" min="0" max="500" class="form-control" id="inputEmail4" placeholder="0">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Tipo de Combustible</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccionar</option>
                            <option>GLP</option>
                            <option>GNV</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Capacidad Combustible</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Capacidad Combustible" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Conductor</label>
                        <select id="inputState" class="form-control">
                            <option selected>Seleccionar</option>
                            <option>Luis Perez</option>
                            <option>Carlos Santillan</option>
                            <option>Mario Reyes</option>
                            <option>Pedro Palomino</option>
                            <option>Juan Valdez</option>

                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputAddress">Contratado</label>
                        <br />
                        <input type="checkbox" class="minimal" checked>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputAddress"></label>
                    <br />
                    <button class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Vehiculos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCliente" class="table table-bordered table-striped tablas">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Placa</th>
                                <th>Tipo Vehiculo</th>
                                <th>Status</th>
                                <th>Marca</th>
                                <th>N° Asientos</th>
                                <th>N° Maletas</th>
                                <th>Combustible</th>
                                <th>Conductor</th>
                                <th>Contratado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>M-01</td>
                                <td>12/02/2020</td>
                                <td>Administrador</td>
                                <td>A5B-56T</td>
                                <td>Minivan</td>
                                <td>Disponible</td>
                                <td>Suzuki</td>
                                <td>40</td>
                                <td>10</td>
                                <td>40 Galones</td>
                                <td>Luis Perez</td>
                                <td>Contratado</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>M-01</td>
                                <td>12/02/2020</td>
                                <td>Administrador</td>
                                <td>A5B-56T</td>
                                <td>Minivan</td>
                                <td>Disponible</td>
                                <td>Suzuki</td>
                                <td>40</td>
                                <td>10</td>
                                <td>40 Galones</td>
                                <td>Luis Perez</td>
                                <td>Contratado</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>M-01</td>
                                <td>12/02/2020</td>
                                <td>Administrador</td>
                                <td>A5B-56T</td>
                                <td>Minivan</td>
                                <td>Disponible</td>
                                <td>Suzuki</td>
                                <td>40</td>
                                <td>10</td>
                                <td>40 Galones</td>
                                <td>Luis Perez</td>
                                <td>Contratado</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script>
        $(document).ready(function () {
            $(".tablas").DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
                    "infoFiltered": "(Filtrado de _MAX_ total Registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                pageLength: 5,
                lengthMenu: [
                    [5, 10, 20, -1],
                    [5, 10, 20, 'Todos']
                ]
            });
        });
</script>