﻿<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Usuario</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCliente" class="table table-bordered table-striped dt-responsive tablas">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Password</th>
                                <th>Email</th>
                                <th>Usuario</th>
                                <th>Departamento</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblUsuario Usua in ViewBag.Usuario)
                            {

                                <tr>
                                    <td>@Usua.Nombre</td>
                                    <td>@Usua.Apellido</td>
                                    <td>@Usua.Password</td>
                                    <td>@Usua.Email</td>
                                    <td>@Usua.Usuario</td>
                                    <td>@Usua.CodigoDepartamento</td>
                                    <td>@Usua.Permiso.Descripcion</td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Modificar" asp-controller="Usuarios" asp-route-id="@Usua.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Usuarios" asp-route-id="@Usua.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
