﻿@model TblUsuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Lsite.css" />
    <title>Login-Wsicav</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>
<body style="background: #a2c0da;">
    <div class="container h-100  animated zoomIn">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="~/images/LogoWsicav.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="Usuario" id="Usuario" class="form-control input_user" value="" placeholder="Usuario">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" id="password" class="form-control input_pass" value="" placeholder="Contraseña">
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="button" value="Login" name="button" class="btn login_btn" onclick="Validate()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>

    function MostrarBienvenida(result)
    {
        Swal.fire({
            icon: 'success',
            imageUrl:'/images/LogoWsicav.png',
              title: 'Bienvenido',
            text: result.message
        })
    };
    function AbrirPagina()
    {        
                window.location.href = '@Url.Action("Inicio", "Solicitudes")';
    };
    function Validate() {
        $.ajax(
        {
          type: "POST",
          url: '@Url.Action("ValidarAcceso", "Acceso")',
          data: {
            Usuario: $('#Usuario').val(),
            password: $('#password').val()
          },
          error: function (result) {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Contacte con su Proveedor'
            })
          },
          success: function (result) {
            console.log(result);
              if (result.status == true) {
                  window.onload = MostrarBienvenida(result)
                  event.preventDefault(); //esto cancela el comportamiento del click
                  setTimeout(()=> location.href='@Url.Action("Inicio", "Solicitudes")',2000);
            }
            else {
              Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: result.message,
              footer: '<a href>Los nombres de usuario y clave son unicos</a>'
            })
            }
          }
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
