﻿button.swal2-confirm.btn.btn-success.swal {
    margin: .3125em;
    padding: .525em 2em;
}
button.swal2-cancel.btn.btn-danger.swal {
    margin: .3125em;
    padding: .525em 2em;
}
a.disabled:hover {
    cursor: not-allowed
}