﻿
@model TblDestino

<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Destinos</h3>
            <form asp-action="GuardarDestino" asp-controller="Destinos" method="post">
                <br />
                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputAddress">Destino</label>
                        <input type="text" class="form-control" asp-for="Nombre" placeholder="Destino">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Ciudades(*)</label>
                        <select asp-for="CiudadId" class="form-control" asp-items="@(new SelectList(ViewBag.TblCiudad, "Id", "NombreCiudad"))">
                            <option>Seleccione</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputAddress"></label>
                    <br />
                    <button class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>