﻿<section class="content">
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title" style="font-weight:bold;">Listado de Ciudades</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="tablaCliente" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Destino</th>
                            <th>Ciudad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TblDestino Des in ViewBag.Destino)
                        {

                        <tr>
                            <td>@Des.Nombre</td>
                            <td>@Des.Ciudad.NombreCiudad</td>
                            <td>
                                <div class="btn-group">
                                    <a asp-action="Modificar" asp-controller="Destinos" asp-route-id="@Des.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                </div>
                                <div class="btn-group">
                                    <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Destinos" asp-route-id="@Des.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                </div>
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->