﻿@model IEnumerable<ProyectoWsicav.ViewModel.VmDestino>

@{
    ViewBag.Title = "Index";
    //WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}

<br />
<div class="col-md-12">
    <div class="box box-primary">
        <h4 class="box-title" style="font-weight:bold;padding-left:10px;">  Destinos</h4>
        <div class="box-header with-border">

            <p>
                <a asp-action="Create" class="btn btn-success">Crear/Nuevo</a>
            </p>
        </div>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Campañas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="ID_DIV">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreCiudad)
                                    </th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="edit" data-id="@item.Id" data-propertyname="Nombre">  @Html.DisplayFor(modelItem => item.Nombre)</div>
                                        </td>
                                        <td>
                                            <div class="editSelect" data-id="@item.Id" data-propertynameid=@item.CiudadId data-propertyname="CiudadId">    @Html.DisplayFor(modelItem => item.NombreCiudad)</div>
                                        </td>
                                       
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />


                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

                        <script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>
                        <script src="~/Scripts/jquery.jeditable.datepicker.js"></script>
                        <script>
                            $(document).ready(function () {
                                var oldValue = '';
                                $('.edit').editable('/Destinos/saveuser', {
                                    cssclass: 'jeditForm',
                                    tooltip: 'click to edit me...',
                                    width: 'none',
                                    height: 'none',
                                    onsubmit: function (settings, original) {
                                        oldValue = original.revert;
                                    },
                                    submitdata: function () {
                                        return {
                                            id: $(this).data('id'),
                                            PropertyName: $(this).data('propertyname')
                                        }
                                    },
                                    callback: function (value, settings) {
                                        var jsonData = $.parseJSON(value);
                                        if (jsonData.status) {
                                            $(this).text(jsonData.value);
                                        }
                                        else {
                                            $(this).text(oldValue);
                                        }
                                    }
                                })

                                $('.editSelect').editable('/Destinos/saveuser', {
                                    cssclass: 'jeditForm',
                                    tooltip: 'click to edit me...',
                                    width: 'none',
                                    height: 'none',
                                    type: 'select',
                                    submit: 'Ok',
                                    loadurl: '/Destinos/GetUserRoles',
                                    loaddata: function () {
                                        return { id: $(this).data('propertynameid') }
                                    },
                                    onsubmit: function (settings, original) {
                                        oldValue = original.revert;
                                    },
                                    submitdata: function () {
                                        return {
                                            id: $(this).data('id'),
                                            PropertyName: $(this).data('propertyname')
                                        }
                                    },
                                    callback: function (value, settings) {
                                        var jsonData = $.parseJSON(value);
                                        if (jsonData.status) {
                                            $(this).text(jsonData.value);
                                        }
                                        else {
                                            $(this).text(oldValue);
                                        }
                                    }
                                })

                                $('.editSelect').click(function () {
                                    $('select', this).addClass('form-control pull-left w100');
                                    $('button', this).addClass('btn btn-sm btn-success margin10')
                                })

                                $('.editDate').editable('/Destinos/saveuser', {
                                    cssclass: 'jeditForm',
                                    tooltip: 'click to edit me...',
                                    type: 'datepicker',
                                    datepicker: {
                                        dateFormat: 'dd-mm-yy',
                                        changeMonth: true,
                                        changeYear: true,
                                        yearRange: '1900:' + (new Date().getFullYear() - 18)
                                    },
                                    onsubmit: function (settings, original) {
                                        oldValue = original.revert;
                                    },
                                    submitdata: function () {
                                        return {
                                            id: $(this).data('id'),
                                            PropertyName: $(this).data('propertyname')
                                        }
                                    },
                                    callback: function (value, settings) {
                                        var jsonData = $.parseJSON(value);
                                        if (jsonData.status) {
                                            $(this).text(jsonData.value);
                                        }
                                        else {
                                            $(this).text(oldValue);
                                        }
                                    }
                                })
                            })
                        </script>
