﻿@model VmFile
@{
    Layout = null;
}
<br />
<form id="NuevaCotiza" method="post" enctype="multipart/form-data">
    @* onsubmit="CotiValidadorFormu(event)" *@
    @{
        if (Model.coti.Id == 0)
        {
            @*<input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crearcot" />*@
            <input type="hidden" asp-for="coti.SolicitudId" value="@Model.solicitud.Id" />
        }
        else
        {
            @*<input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Actucot" />*@
            <input type="hidden" asp-for="coti.Id" />
            <input type="hidden" asp-for="coti.SolicitudId" />
        }
    }
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Fecha Cotización</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="coti.Fecha" type="text" class="form-control pull-right datepicker">
            </div>
            <span asp-validation-for="coti.Fecha" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Numero Cotización</label>
            <input asp-for="coti.NumeCotizacion" class="form-control">
            <span asp-validation-for="coti.NumeCotizacion" class="text-danger"></span>
        </div>
        
        <div class="form-group col-md-3">
            <label>Monto Total</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-usd"></i>
                </div>
                <input asp-for="coti.Monto" class="form-control pull-right">
            </div>
            <span asp-validation-for="coti.Monto" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            @{
                if (Model.coti.Id == 0)
                {
                    <label>Archivo de Cotización</label>
                    <input asp-for="coti.DocCoti" />
                }
                else
                {
                    <!-- Check -->
                    <label class="switch fileup">
                        <input type="checkbox" id="Coti_Change" name="chek" onclick="ChangeCheck(this)">
                        <span class="slider round">Actualizar documento</span>
                    </label>
                    <label class="fileup">
                        <input asp-for="coti.Documentonombre" type="text" name="namefile" readonly style="display:block" />
                    </label>
                    <input asp-for="coti.DocCoti" style="display:none">
                }
            }
            <div id="rptCoti" name="respuesta" style="font-weight: bold;"></div>
            <input type="hidden" id="ValidaCoti" name="validador" value="false" />
        </div>
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(Model.coti.Id == 0 ? "Registrar" : "Actualizar")</button>
        </div>
        <div class="form-group col-md-2">
            <br />
            <a href="#" class="btn btn-info"><i class="fa fa-arrow-circle-o-up"></i> Ir a cotizador</a>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        //Date picker
        $(".datepicker").datepicker({
            autoclose: true,
            language: 'es'
        });



    });
</script>

<script>
    var montoEditCoti;

    //CUANDO SE CAMBIA EL ARCHIVO
    $('#NuevaCotiza input:file').on('change', function () {

        $("#rptCoti").html('Cargando archivo, espere .....');
        file = this.files[0];
        if (file != null) {
            var data = new FormData();
            data.append(file.name, file);
            $.ajax({
                type: 'POST',
                url: '/Ajax/ValidarArchivo2/',
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    //representa que el archivo ingresado es correcto y puede ser subido
                    $("#rptCoti").html(response.span);
                    $("#ValidaCoti").val(response.value);
                },
                error: function (response) {
                    console.log(response.msg);
                }
            });
        }
        else {
            $("#rptCoti").html('');
            $("#ValidaCoti").val(false);
        }

    }) 

    //REGISTRAR O ACTUALIZAR
    $("#NuevaCotiza").on("submit", function (e) { //GUARDAR ACTUALIZAR
        //REGISTRO O ACTUALIZAR
        e.preventDefault();
        var validation = ValidadorFormulario(this);
        var reg = false; //REPRESENTA LA ACCION DE ACTUALIZAR

        if (validation.rpta) {

            var idcoti = $("#coti_Id").val();
            if (idcoti == null) { //SI NO EXISTE EL CAMPO RESERVA.ID
                reg = true; //SE HACE UN INSERT
            }

            SwallEsperarCo("reg", reg);

        } else {
            Swal.fire(
                'Error',
                validation.msag,
                'error'
            )
        }

    }); 

    function SwallEsperarCo(tipo, reg) { //La variable tipo hacer referencia a la accion si va a hacer un registro/actualización, o obtenecion de datos, el reg es la variable empleada por separado para cada un de esos metodos

        Swal.fire({
            title: 'Completando acción',
            text: 'Cargando',
            icon: '',
            timer: 0,
            timerProgressBar: false,
            showConfirmButton: false,
            onBeforeOpen() {
                Swal.showLoading()
            },
            onOpen() {
                if (tipo == "reg") {
                    setTimeout(function () {
                        RegistroActualizarCo(reg)
                    }, 500);
                }
                else if (tipo == "get") {
                    setTimeout(function () {
                        ObtenerDatosCo(reg)
                    }, 500);
                }
            },
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
        })

    }

    function RegistroActualizarCo(reg) {
        var formu = $('#NuevaCotiza')[0];//AGREGE ESTO PARA OBTENER EL FORMULARIO para llamar a sus elementos luego
        var data = new FormData(formu);
        //VALOR FOOTER TOTAL
        var total = $('#tbl-detalle-coti tfoot td:eq(0)').text();

        $.ajax({
            type: 'POST',
            url: '/Solicitudes/NuevaCotiza/',
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            success: function (response) {
                if (response.rpt) {

                    if (reg) { //ACCIONES PARA EL REGISTRAR

                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);

                        var content = "";
                        content += '<tr id="tr_co_' + detalle.id + '">';
                        content += '<td>' + convertDate(detalle.fechaCotizacion) + '</td>';
                        content += '<td>' + IsNull(detalle.numeCotizacion) + '</td>';
                        content += '<td>' + IsNull(detalle.documentonombre) + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DCoti"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        content += '</tr>';

                        $('#tbl-detalle-coti tbody').append(content);

                        //Actualizando el footer total
                        var ope = (parseFloat(total) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-coti tfoot td').eq(0).text(ope);

                        //LimiarFORM
                        $('#NuevaCotiza input:text').val('');
                        $('#NuevaCotiza input:file').val('');
                        $("#rptCoti").html('');
                        $("#ValidaCoti").val(false);

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Registro completado',
                            text: 'Se registraron los datos',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);

                    }
                    else {//ACCIONES PARA EL ACTUALIZAR
                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);

                        var content = "";
                        content += '<td>' + convertDate(detalle.fechaCotizacion) + '</td>';
                        content += '<td>' + IsNull(detalle.numeCotizacion) + '</td>';
                        content += '<td>' + IsNull(detalle.documentonombre) + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DCoti"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        $("#tr_co_" + detalle.id).html(content);

                        //ACTUALIZANDO EL MONTO CON EL FOOTER
                        var res = (parseFloat(total) - parseFloat(montoEditCoti)).toFixed(2);
                        var ope = (parseFloat(res) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-coti tfoot td').eq(0).text(ope);

                        $('#coti_Id').remove(); //ELIMINO EL CAMPO DE RESERVA ID DEL FORM
                        $('#NuevaCotiza .fileup').remove(); //ELIMINO LOS CONTENODRES DEL CHECK FILE ACUTALIZAR

                        $('#NuevaCotiza input:text').val('');
                        formu.querySelectorAll('input[type=file]')[0].style.display = "block"; //MUESTRO EL INPUT FYLE SI ESTA OCULTO O NO

                        $('#NuevaCotiza input:file').val('');
                        $("#rptCoti").html('');
                        $("#ValidaCoti").val(false);

                        $("#NuevaCotiza button").html('<i class="fa fa-save"></i> Registrar');

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Actualización completada',
                            text: 'Se Actualizo el registro',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);
                    }
                }
                else {
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudo completar la acción',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {
                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //CODIGO PARA EL OBTENER DATOS EDITAR
    $("body").on("click", '#tbl-detalle-coti a.btn-warning', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        SwallEsperarCo("get", id);
    });

    function ObtenerDatosCo(id) {
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleCoti?id=' + id + '&tipo=edit',
            cache: false,
            success: function (response) {
                if (response.rpt) {
                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfCoti/',
                        cache: false,
                        success: function (response) {
                            $("#frm_coti").html(response);
                            //Restableciendo la validacion
                            $("#NuevaCotiza").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevaCotiza");
                            $("#frm_coti span.text-danger").removeClass('field-validation-valid');
                            //CAPTURADOR MONTO EDITAR
                            montoEditCoti = $('#coti_Monto').val();
                        }
                    });
                    setTimeout(() => {
                        Swal.close()
                    }, 500);

                }
                else {

                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudieron obtener los datos del registro',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {

                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //BOTON DE ELIMINAR
    $("body").on("click", '#tbl-detalle-coti a.btn-danger', function () {
    var id = $(this).data('id');
    //SWALL DE ACTIVACION VA AQUI

    const swalWithBootstrapButtons = Swal.mixin({
        buttonsStyling: false,
        customClass: {
        confirmButton: 'btn btn-success swal',
        cancelButton: 'btn btn-danger swal'
        },
    })

    swalWithBootstrapButtons.fire({
      title: 'Estas seguro de eliminar?',
      text: "El registro a descartar no sera posible de recuperar",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Eliminar',
      cancelButtonText: 'Cancelar',
      reverseButtons: false,
      showLoaderOnConfirm: true,
      allowOutsideClick: false,
      allowEscapeKey: false,
      allowEnterKey: false,
      preConfirm: function() {
        return new Promise(function(resolve) {
        setTimeout(function () {
            resolve()// AL PARECER ES UN METODO PARA HACER FUNCIONAR EL PRECONFIRM NO ESTA LIGADO A ESTE CREO
            DeleteCoti(id) //SE LLAMA AL METODO ELIMINAR
          }, 900)
        })
      }
    }).then((result) => {
      if (result.value) {
        swalWithBootstrapButtons.fire(
          'Eliminado!',
          'El registro ha sido eliminado.',
          'success'
        )
      }
    })

    });

    function DeleteCoti(id) {
        //ELIMINAR
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleCoti?id='+ id+'&tipo=del',
            cache: false,
            success: function (response) {
                if (response.rpt) {

                    var total = $('#tbl-detalle-coti tfoot td:eq(0)').text();
                    var monto = response.data.monto;
                    var ope = (parseFloat(total) - parseFloat(monto)).toFixed(2);

                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $("#tr_co_" + id).remove(); //ELIMINA FILA ASINCORNAMENTE
                    $('#tbl-detalle-coti tfoot td').eq(0).text(ope);
                    //EL SWALL BUENO VA AQUI CREOs
                }
                else {
                    Swal.fire(
                      'Error',
                      'No se pudo eliminar el registro',
                      'error'
                    )
                }
            },
            error: function () {
                Swal.fire(
                    'Error',
                    'Ocurrio un error en la acción consulte con su proveedor',
                    'error'
                )
            }
        });
    }

</script>