﻿@model VmFile
@{
    Layout = null;
}
<br />
<form id="NuevaFac" method="post" enctype="multipart/form-data" >

    @{
        if (Model.Fact.Id == 0)
        {
            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crearfac" />
            <input type="hidden" asp-for="Fact.SolicitudId" value="@Model.solicitud.Id" />
        }
        else
        {
            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Actufac" />
            <input type="hidden" asp-for="Fact.Id" />
            <input type="hidden" asp-for="Fact.SolicitudId" />
        }
    }
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Fecha de Facturación</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="Fact.Fecha" type="text" class="form-control pull-right datepicker">
            </div>
            <span asp-validation-for="Fact.Fecha" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>N° Factura</label>
            <input asp-for="Fact.NumeFactu" class="form-control">
            <span asp-validation-for="Fact.NumeFactu" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Monto a Facturar</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-usd"></i>
                </div>
                <input asp-for="Fact.Monto" class="form-control pull-right">
            </div>
            <span asp-validation-for="Fact.Monto" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            @{
                if (Model.Fact.Id == 0)
                {
                    <label>Archivo de Cotización</label>
                    <input asp-for="Fact.DocFact">
                }
                else
                {
                    <!-- Check -->
                    <label class="switch fileup">
                        <input type="checkbox" id="Fact_Change" name="chek" onclick="ChangeCheck(this)">
                        <span class="slider round">Actualizar documento</span>
                    </label>
                    <label class="fileup">
                        <input asp-for="Fact.Documentonombre" name="namefile" type="text" readonly style="display:block" />
                    </label>
                    <input asp-for="Fact.DocFact" style="display:none">
                }
            }
            <div id="rptFact" name="respuesta" style="font-weight: bold;"></div>
            <input type="hidden" id="ValidaFact" name="validador" value="false" />
        </div>
    </div>
    <div class="form-group col-md-2">
        <br />
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(Model.Fact.Id == 0 ? "Registrar" : "Actualizar")</button>
    </div>
    <div class="form-group col-md-2">
        <br />
        <a href="#" class="btn btn-info"><i class="fa fa-arrow-circle-o-up"></i> Ir a facturar</a>
    </div>
</form>

<script>
    $(document).ready(function () {

        //Date picker
        $(".datepicker").datepicker({
            autoclose: true,
            language: 'es'
        });

    });
</script>

<script>
    var montoEditFact;

    //CUANDO SE CAMBIA EL ARCHIVO
    $('#NuevaFac input:file').on('change', function () {

        $("#rptFact").html('Cargando archivo, espere .....');
        file = this.files[0];
        if (file != null) {
            var data = new FormData();
            data.append(file.name, file);
            $.ajax({
                type: 'POST',
                url: '/Ajax/ValidarArchivo2/',
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    //representa que el archivo ingresado es correcto y puede ser subido
                    $("#rptFact").html(response.span);
                    $("#ValidaFact").val(response.value);
                },
                error: function (response) {
                    console.log(response.msg);
                }
            });
        }
        else {
            $("#rptFact").html('');
            $("#ValidaFact").val(false);
        }

    })

    //REGISTRAR O ACTUALIZAR
    $("#NuevaFac").on("submit", function (e) { //GUARDAR ACTUALIZAR
        //REGISTRO O ACTUALIZAR
        e.preventDefault();
        var validation = ValidadorFormulario(this);
        var reg = false; //REPRESENTA LA ACCION DE ACTUALIZAR

        if (validation.rpta) {

            var idcoti = $("#Fact_Id").val();
            if (idcoti == null) { //SI NO EXISTE EL CAMPO RESERVA.ID
                reg = true; //SE HACE UN INSERT
            }

            SwallEsperarFa("reg", reg);

        } else {
            Swal.fire(
                'Error',
                validation.msag,
                'error'
            )
        }

    });

    function SwallEsperarFa(tipo, reg) { //La variable tipo hacer referencia a la accion si va a hacer un registro/actualización, o obtenecion de datos, el reg es la variable empleada por separado para cada un de esos metodos

        Swal.fire({
            title: 'Completando acción',
            text: 'Cargando',
            icon: '',
            timer: 0,
            timerProgressBar: false,
            showConfirmButton: false,
            onBeforeOpen() {
                Swal.showLoading()
            },
            onOpen() {
                if (tipo == "reg") {
                    setTimeout(function () {
                        RegistroActualizarFa(reg)
                    }, 500);
                }
                else if (tipo == "get") {
                    setTimeout(function () {
                        ObtenerDatosFa(reg)
                    }, 500);
                }
            },
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
        })

    }

    function RegistroActualizarFa(reg) {
        var formu = $('#NuevaFac')[0];//AGREGE ESTO PARA OBTENER EL FORMULARIO para llamar a sus elementos luego
        var data = new FormData(formu);
        var total = $('#tbl-detalle-fact tfoot td:eq(0)').text();

        $.ajax({
            type: 'POST',
            url: '/Solicitudes/NuevaFact/',
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            success: function (response) {
                if (response.rpt) {

                    if (reg) { //ACCIONES PARA EL REGISTRAR

                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);

                        var content = "";
                        content += '<tr id="tr_fa_' + detalle.id + '">';
                        content += '<td>' + convertDate(detalle.fechaFactu) + '</td>';
                        content += '<td>' + IsNull(detalle.numeFactu) + '</td>';
                        content += '<td>' + IsNull(detalle.documentonombre) + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DFact"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        content += '</tr>';

                        $('#tbl-detalle-fact tbody').append(content);

                        //Actualizando el footer total
                        var ope = (parseFloat(total) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-fact tfoot td').eq(0).text(ope);

                        //LimiarFORM
                        $('#NuevaFac input:text').val('');
                        $('#NuevaFac input:file').val('');
                        $("#rptFact").html('');
                        $("#ValidaFact").val(false);

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Registro completado',
                            text: 'Se registraron los datos',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);

                    }
                    else {//ACCIONES PARA EL ACTUALIZAR
                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);

                        var content = "";
                        content += '<td>' + convertDate(detalle.fechaFactu) + '</td>';
                        content += '<td>' + IsNull(detalle.numeFactu) + '</td>';
                        content += '<td>' + IsNull(detalle.documentonombre) + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DFact"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group">';
                        content += '<a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        $("#tr_fa_" + detalle.id).html(content);

                        //ACTUALIZANDO EL MONTO CON EL FOOTER
                        var res = (parseFloat(total) - parseFloat(montoEditFact)).toFixed(2);
                        var ope = (parseFloat(res) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-fact tfoot td').eq(0).text(ope);

                        $('#Fact_Id').remove(); //ELIMINO EL CAMPO DE RESERVA ID DEL FORM
                        $('#NuevaFac .fileup').remove(); //ELIMINO LOS CONTENODRES DEL CHECK FILE ACUTALIZAR

                        $('#NuevaFac input:text').val('');
                        formu.querySelectorAll('input[type=file]')[0].style.display = "block"; //MUESTRO EL INPUT FYLE SI ESTA OCULTO O NO

                        $('#NuevaFac input:file').val('');
                        $("#rptFact").html('');
                        $("#ValidaFact").val(false);

                        $("#NuevaFac button").html('<i class="fa fa-save"></i> Registrar');

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Actualización completada',
                            text: 'Se Actualizo el registro',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);
                    }
                }
                else {
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudo completar la acción',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {
                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //CODIGO PARA EL OBTENER DATOS EDITAR
    $("body").on("click", '#tbl-detalle-fact a.btn-warning', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        SwallEsperarFa("get", id);
    });

    function ObtenerDatosFa(id) {
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleFact?id=' + id + '&tipo=edit',
            cache: false,
            success: function (response) {
                if (response.rpt) {
                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfFact/',
                        cache: false,
                        success: function (response) {
                            $("#frm_fac").html(response);
                            //Restableciendo la validacion
                            $("#NuevaFac").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevaFac");
                            $("#frm_fac span.text-danger").removeClass('field-validation-valid');
                            //CAPTURADOR MONTO EDITAR
                            montoEditFact = $('#Fact_Monto').val();
                        }
                    });
                    setTimeout(() => {
                        Swal.close()
                    }, 500);

                }
                else {

                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudieron obtener los datos del registro',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {

                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //BOTON DE ELIMINAR
    $("body").on("click", '#tbl-detalle-fact a.btn-danger', function () {
        var id = $(this).data('id');
        //SWALL DE ACTIVACION VA AQUI

        const swalWithBootstrapButtons = Swal.mixin({
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-success swal',
                cancelButton: 'btn btn-danger swal'
            },
        })

        swalWithBootstrapButtons.fire({
            title: 'Estas seguro de eliminar?',
            text: "El registro a descartar no sera posible de recuperar",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false,
            showLoaderOnConfirm: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    setTimeout(function () {
                        resolve()// AL PARECER ES UN METODO PARA HACER FUNCIONAR EL PRECONFIRM NO ESTA LIGADO A ESTE CREO
                        DeleteFact(id) //SE LLAMA AL METODO ELIMINAR
                    }, 900)
                })
            }
        }).then((result) => {
            if (result.value) {
                swalWithBootstrapButtons.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado.',
                    'success'
                )
            }
        })

    });

    function DeleteFact(id) {
        //ELIMINAR
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleFact?id=' + id + '&tipo=del',
            cache: false,
            success: function (response) {
                if (response.rpt) {

                    var total = $('#tbl-detalle-fact tfoot td:eq(0)').text();
                    var monto = response.data.monto;
                    var ope = (parseFloat(total) - parseFloat(monto)).toFixed(2);

                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $("#tr_fa_" + id).remove(); //ELIMINA FILA ASINCORNAMENTE
                    $('#tbl-detalle-fact tfoot td').eq(0).text(ope); //SE ASIGNA EL NUEVO MONTO TOTAL
                    //EL SWALL BUENO VA AQUI CREOs
                }
                else {
                    Swal.fire(
                        'Error',
                        'No se pudo eliminar el registro',
                        'error'
                    )
                }
            },
            error: function () {
                Swal.fire(
                    'Error',
                    'Ocurrio un error en la acción consulte con su proveedor',
                    'error'
                )
            }
        });
    }

</script>