﻿@model VmFile
@{
    Layout = null;
}
<br />
<form id="NuevaLProveedor" method="post" enctype="multipart/form-data">
    @{
        if (Model.Lprove.Id == 0)
        {
            <input type="hidden" asp-for="Lprove.SolicitudId" value="@Model.solicitud.Id" />
        }
        else
        {
            <input type="hidden" asp-for="Lprove.Id" />
            <input type="hidden" asp-for="Lprove.SolicitudId" />
        }
    }
    <div class="col-md-12">
        <div class="form-group col-md-3">
            <label>Proveedor</label>
            <select asp-for="Lprove.ProveedorId" asp-items="ViewBag.Proveedores" class="form-control">
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Pago por Cliente</label>
            <div class="checkbox">
                <label><input asp-for="Lprove.PagoCliente">Pago</label>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label>Fecha de Liquidación</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="Lprove.FechaLprove" type="text" class="form-control pull-right datepicker">
            </div>
            <span asp-validation-for="Lprove.FechaLprove" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Forma de Pago</label>
            <select asp-for="Lprove.FormaPago" class="form-control">
                <option value="Tarjeta de Credito">Tarjeta de Credito</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Pago Efectivo">Pago Efectivo</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Banco</label>
            <select asp-for="Lprove.Banco" class="form-control">
                <option value="BCP">BCP</option>
                <option value="Banco de la Nacion">Banco de la Nacion</option>
                <option value="Interbank">Interbank</option>
                <option value="Banco Azteca">Banco Azteca</option>
                <option value="Banco Agrario">Banco Agrario</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            <label>Titular</label>
            <input asp-for="Lprove.Titular" class="form-control">
            <span asp-validation-for="Lprove.Titular" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>N° de Tarjeta</label>
            <input asp-for="Lprove.NumeTarjeta" onkeyup="this.value=this.value.replace(/[^\d]/,'')" class="form-control">
            <span asp-validation-for="Lprove.NumeTarjeta" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label>N° Voucher</label>
            <input asp-for="Lprove.NumeVaucher" class="form-control">
            <span asp-validation-for="Lprove.NumeVaucher" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Importe</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-usd"></i>
                </div>
                <input asp-for="Lprove.Monto" class="form-control pull-right">
            </div>
            <span asp-validation-for="Lprove.Monto" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            @{
                if (Model.Lprove.Id == 0)
                {
                    <label>Archivo de Cotización</label>
                    <input asp-for="Lprove.Doc">
                }
                else
                {
                    <!-- Check -->
                    <label class="switch fileup">
                        <input type="checkbox" id="Lpro_Change" name="chek" onclick="ChangeCheck(this)">
                        <span class="slider round">Actualizar documento</span>
                    </label>
                    <label class="fileup">
                        <input asp-for="Lprove.Documentonombre" name="namefile" type="text" readonly style="display:block" />
                    </label>
                    <input asp-for="Lprove.Doc" style="display:none">
                }
            }
            <div id="rptLpro" name="respuesta" style="font-weight: bold;"></div>
            <input type="hidden" id="ValidaLpro" name="validador" value="false" />
        </div>
        <div class="form-group col-md-4">
            <br />
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(Model.Lprove.Id == 0 ? "Registrar" : "Actualizar")</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        //Date picker
        $(".datepicker").datepicker({
            autoclose: true,
            language: 'es'
        });

    });
</script>

<script>
    var montoEditLpro;
    //CUANDO SE CAMBIA EL ARCHIVO
    $('#NuevaLProveedor input:file').on('change', function () {

        $("#rptLpro").html('Cargando archivo, espere .....');
        file = this.files[0];
        if (file != null) {
            var data = new FormData();
            data.append(file.name, file);
            $.ajax({
                type: 'POST',
                url: '/Ajax/ValidarArchivo2/',
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    //representa que el archivo ingresado es correcto y puede ser subido
                    $("#rptLpro").html(response.span);
                    $("#ValidaLpro").val(response.value);
                },
                error: function (response) {
                    console.log(response.msg);
                }
            });
        }
        else {
            $("#rptLpro").html('');
            $("#ValidaLpro").val(false);
        }

    })

    //REGISTRAR O ACTUALIZAR
    $("#NuevaLProveedor").on("submit", function (e) { //GUARDAR ACTUALIZAR
        //REGISTRO O ACTUALIZAR
        e.preventDefault();
        var validation = ValidadorFormulario(this);
        var reg = false; //REPRESENTA LA ACCION DE ACTUALIZAR

        if (validation.rpta) {

            var idcoti = $("#Lprove_Id").val();
            if (idcoti == null) { //SI NO EXISTE EL CAMPO RESERVA.ID
                reg = true; //SE HACE UN INSERT
            }

            SwallEsperarLp("reg", reg);

        } else {
            Swal.fire(
                'Error',
                validation.msag,
                'error'
            )
        }

    });

    function SwallEsperarLp(tipo, reg) { //La variable tipo hacer referencia a la accion si va a hacer un registro/actualización, o obtenecion de datos, el reg es la variable empleada por separado para cada un de esos metodos

        Swal.fire({
            title: 'Completando acción',
            text: 'Cargando',
            icon: '',
            timer: 0,
            timerProgressBar: false,
            showConfirmButton: false,
            onBeforeOpen() {
                Swal.showLoading()
            },
            onOpen() {
                if (tipo == "reg") {
                    setTimeout(function () {
                        RegistroActualizarLp(reg)
                    }, 500);
                }
                else if (tipo == "get") {
                    setTimeout(function () {
                        ObtenerDatosLp(reg)
                    }, 500);
                }
            },
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
        })

    }

    function RegistroActualizarLp(reg) {
        var formu = $('#NuevaLProveedor')[0];//AGREGE ESTO PARA OBTENER EL FORMULARIO para llamar a sus elementos luego
        var data = new FormData(formu);
        var total = $('#tbl-detalle-lipro tfoot td:eq(0)').text();

        $.ajax({
            type: 'POST',
            url: '/Solicitudes/NuevaLipro/',
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            success: function (response) {
                if (response.rpt) {

                    if (reg) { //ACCIONES PARA EL REGISTRAR
                            
                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);
                        var bag;
                        if (detalle.pagoCliente === true) { bag = '<small class="label bg-red">Comisión</small>' } else { bag = '-' };
                        var content = "";
                        content += '<tr id="tr_lp_' + detalle.id + '">';
                        content += '<td>' + convertDate(detalle.fechaLprove) + '</td>';
                        content += '<td>' + detalle.proveedor.nombre + '</td>';
                        content += '<td>' + detalle.formaPago + '</td>';
                        content += '<td>' + detalle.banco + '</td>';
                        content += '<td>' + IsNull(detalle.titular) + '</td>';
                        content += '<td>' + IsNull(detalle.numeTarjeta) + '</td>';
                        content += '<td>' + IsNull(detalle.numeVaucher) + '</td>';
                        content += '<td>' + detalle.documentonombre + '</td>';
                        content += '<td>' + bag + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DLip"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        content += '</tr>';

                        $('#tbl-detalle-lipro tbody').append(content);

                        //Actualizando el footer total
                        var ope = (parseFloat(total) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-lipro tfoot td').eq(0).text(ope);

                        //LimiarFORM
                        $('#NuevaLProveedor input:text').val('');
                        $('#NuevaLProveedor input:file').val('');
                        $('#NuevaLProveedor select option:first-child').attr("selected", "selected");
                        $('#NuevaLProveedor input:checkbox').prop('checked', false);
                        $("#rptLpro").html('');
                        $("#ValidaLpro").val(false);

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Registro completado',
                            text: 'Se registraron los datos',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);

                    }
                    else {//ACCIONES PARA EL ACTUALIZAR
                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);
                        var bag;
                        if (detalle.pagoCliente === true) { bag = '<small class="label bg-red">Comisión</small>' } else { bag = '-' };
                        var content = "";
                        content += '<td>' + convertDate(detalle.fechaLprove) + '</td>';
                        content += '<td>' + detalle.proveedor.nombre + '</td>';
                        content += '<td>' + detalle.formaPago + '</td>';
                        content += '<td>' + detalle.banco + '</td>';
                        content += '<td>' + IsNull(detalle.titular) + '</td>';
                        content += '<td>' + IsNull(detalle.numeTarjeta) + '</td>';
                        content += '<td>' + IsNull(detalle.numeVaucher) + '</td>';
                        content += '<td>' + detalle.documentonombre + '</td>';
                        content += '<td>' + bag + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DLip"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        $("#tr_lp_" + detalle.id).html(content);

                        //ACTUALIZANDO EL MONTO CON EL FOOTER
                        var res = (parseFloat(total) - parseFloat(montoEditLpro)).toFixed(2);
                        var ope = (parseFloat(res) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-lipro tfoot td').eq(0).text(ope);

                        $('#Lprove_Id').remove(); //ELIMINO EL CAMPO DE RESERVA ID DEL FORM
                        $('#NuevaLProveedor .fileup').remove(); //ELIMINO LOS CONTENODRES DEL CHECK FILE ACUTALIZAR

                        $('#NuevaLProveedor input:text').val('');
                        formu.querySelectorAll('input[type=file]')[0].style.display = "block"; //MUESTRO EL INPUT FYLE SI ESTA OCULTO O NO

                        $('#NuevaLProveedor input:file').val('');
                        $('#NuevaLProveedor select option:first-child').attr("selected", "selected");
                        $('#NuevaLProveedor input:checkbox').prop('checked', false);
                        $("#rptLpro").html('');
                        $("#ValidaLpro").val(false);

                        $("#NuevaLProveedor button").html('<i class="fa fa-save"></i> Registrar');

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Actualización completada',
                            text: 'Se Actualizo el registro',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);
                    }
                }
                else {
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudo completar la acción',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {
                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //CODIGO PARA EL OBTENER DATOS EDITAR
    $("body").on("click", '#tbl-detalle-lipro a.btn-warning', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        SwallEsperarLp("get", id);
    });

    function ObtenerDatosLp(id) {
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleLipro?id=' + id + '&tipo=edit',
            cache: false,
            success: function (response) {
                if (response.rpt) {
                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfLipro/',
                        cache: false,
                        success: function (response) {
                            $("#frm_lipr").html(response);
                            //Restableciendo la validacion
                            $("#NuevaLProveedor").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevaLProveedor");
                            $("#frm_lipr span.text-danger").removeClass('field-validation-valid');
                            //CAPTURADOR MONTO EDITAR
                            montoEditLpro = $('#Lprove_Monto').val();
                        }
                    });
                    setTimeout(() => {
                        Swal.close()
                    }, 500);

                }
                else {

                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudieron obtener los datos del registro',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {

                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //BOTON DE ELIMINAR
    $("body").on("click", '#tbl-detalle-lipro a.btn-danger', function () {
        var id = $(this).data('id');
        //SWALL DE ACTIVACION VA AQUI

        const swalWithBootstrapButtons = Swal.mixin({
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-success swal',
                cancelButton: 'btn btn-danger swal'
            },
        })

        swalWithBootstrapButtons.fire({
            title: 'Estas seguro de eliminar?',
            text: "El registro a descartar no sera posible de recuperar",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false,
            showLoaderOnConfirm: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    setTimeout(function () {
                        resolve()// AL PARECER ES UN METODO PARA HACER FUNCIONAR EL PRECONFIRM NO ESTA LIGADO A ESTE CREO
                        DeleteLipro(id) //SE LLAMA AL METODO ELIMINAR
                    }, 900)
                })
            }
        }).then((result) => {
            if (result.value) {
                swalWithBootstrapButtons.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado.',
                    'success'
                )
            }
        })

    });

    function DeleteLipro(id) {
        //ELIMINAR
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleLipro?id=' + id + '&tipo=del',
            cache: false,
            success: function (response) {
                if (response.rpt) {

                    var total = $('#tbl-detalle-lipro tfoot td:eq(0)').text();
                    var monto = response.data.monto;
                    var ope = (parseFloat(total) - parseFloat(monto)).toFixed(2);

                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $("#tr_lp_" + id).remove(); //ELIMINA FILA ASINCORNAMENTE
                    $('#tbl-detalle-lipro tfoot td').eq(0).text(ope); //SE ASIGNA EL NUEVO MONTO TOTAL
                    //EL SWALL BUENO VA AQUI CREOs
                }
                else {
                    Swal.fire(
                        'Error',
                        'No se pudo eliminar el registro',
                        'error'
                    )
                }
            },
            error: function () {
                Swal.fire(
                    'Error',
                    'Ocurrio un error en la acción consulte con su proveedor',
                    'error'
                )
            }
        });
    }

</script>