﻿@model VmFile
@{ 
    Layout = null;
}
<br />
<!-- asp-action="NuevaDreserva" asp-controller="Solicitudes" -->

<form id="NuevaDreserva" method="post">
    @{
        if (Model.Reser.Id == 0)
        {
            @*<input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crearrese" />*@
            <input type="hidden" asp-for="Reser.SolicitudId" value="@Model.solicitud.Id" />
        }
        else
        {
            @*<input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Acturese" />*@
            <input type="hidden" asp-for="Reser.Id" />
            <input type="hidden" asp-for="Reser.SolicitudId" />
        }
    }
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputEmail4">Tipo de reserva</label>
            <select asp-for="Reser.TipoServicioId" asp-items="ViewBag.Servicios" class="form-control">
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">Fecha Reservacion</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="Reser.FechaIn" type="text" class="form-control pull-right datepicker">
            </div>
            <span asp-validation-for="Reser.FechaIn" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">Localizador</label>
            <input asp-for="Reser.Localizador" class="form-control">
            <span asp-validation-for="Reser.Localizador" class="text-danger"></span>
        </div>
        
        <div class="form-group col-md-3">
            <label for="inputPassword4">Fecha Limite</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="Reser.FechaLimite" type="text" class="form-control pull-right datepicker">
            </div>
            <span asp-validation-for="Reser.FechaLimite" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label for="inputEmail4">Proveedor</label>
            <select asp-for="Reser.ProveedorId" asp-items="ViewBag.Proveedores" class="form-control">
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Operador</label>
            <select class="form-control">
                <option disable>Wsicav Tours</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Servicio Extra</label>
            <div class="checkbox">
                <label><input asp-for="Reser.Adicional">Extra</label>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="inputPassword4">Importe</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-usd"></i>
                </div>
                <input asp-for="Reser.Monto" class="form-control pull-right">
            </div>
            <span asp-validation-for="Reser.Monto" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-2">
        <label for="inputAddress"></label>
        <br />
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @(Model.Reser.Id == 0 ? " Registrar" : " Actualizar")</button>
    </div>
</form>

<script>
    $(document).ready(function () {

        //Date picker
        $(".datepicker").datepicker({
            autoclose: true,
            language: 'es'
        });

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        })

    });
</script>

<script>
    var montoaeditar;

    //REGISTRO O ACTUALIZAR
    $("#NuevaDreserva").on("submit", function (e) {
        e.preventDefault();
        var reg;

        var idreserva = $("#Reser_Id").val();
        if (idreserva == null) { //SI NO EXISTE EL CAMPO RESERVA.ID
            reg = true; //SE HACE UN INSERT
        } else {
            reg = false; //ES UN ACTUALIZAR
        }

        SwallEsperarRe("reg",reg);

    });

    function SwallEsperarRe(tipo, reg) { //La variable tipo hacer referencia a la accion si va a hacer un registro/actualización, o obtenecion de datos, el reg es la variable empleada por separado para cada un de esos metodos

        Swal.fire({
            title: 'Completando acción',
            text: 'Cargando',
            icon: '',
            timer: 0,
            timerProgressBar: false,
            showConfirmButton: false,
            onBeforeOpen() {
                Swal.showLoading()
            },
            onOpen() {
                if (tipo == "reg") {
                    setTimeout(function () {
                        RegistroActualizarRe(reg)
                    }, 500);
                }
                else if (tipo == "get") {
                    setTimeout(function () {    
                        ObtenerDatosRe(reg)
                    }, 500);
                }

            },
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
        })

    }

    function RegistroActualizarRe(reg) {
        //VALOR FOOTER TOTAL
        var total = $('#tbl-detalle-reser tfoot td:eq(0)').text();

            $.ajax({
            type: 'POST',
            url: '/Solicitudes/NuevaDreserva2/',
            data: $('#NuevaDreserva').serialize(),
            success: function(response)
            {
                if (response.rpt) {

                    if (reg) { //ACCIONES PARA EL REGISTRAR

                    var detalle = response.data;
                    var monto = IsNullM(detalle.monto);
                    var bag;
                    if (detalle.adicional === true) { bag = '<small class="label bg-red">Extra</small>' } else { bag = '-' };
                    var content = "";
                    content += '<tr id="tr_re_'+detalle.id+'">';
                    content += '<td>' + detalle.tipoServicio.descripcion + '</td>';
                    content += '<td>' + IsNull(detalle.localizador) + '</td>';
                    content += '<td>' + convertDate(IsNull(detalle.fechaIn)) + '</td>';
                    content += '<td>' + convertDate(IsNull(detalle.fechaLimite)) + '</td>';
                    content += '<td>' + detalle.proveedor.nombre + '</td>';
                    content += '<td>' + 'Wsicav Tours' + '</td>';
                    content += '<td>' + bag + '</td>';
                    content += '<td>' + monto + '</td>';
                    content += '<td>';
                    content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                    content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                    content += '</td>';
                    content += '</tr>';

                    $('#tbl-detalle-reser tbody').append(content);

                    //Actualizando el footer total
                    var ope = (parseFloat(total) + parseFloat(monto)).toFixed(2);
                    $('#tbl-detalle-reser tfoot td').eq(0).text(ope);

                    //LimiarFORM
                    $('#NuevaDreserva input:text').val('');
                    $('#NuevaDreserva input:checkbox').prop('checked', false);
                    $('#NuevaDreserva select option:first-child').attr("selected", "selected");

                    //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Registro completado',
                        text: 'Se registraron los datos',
                        icon: 'success',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    //CERRAMOS EL SWAL OK
                    setTimeout(() => {
                        Swal.close()
                    }, 800);

                    }
                    else {//ACCIONES PARA EL ACTUALIZAR
                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);
                        var bag;
                        if (detalle.adicional === true) { bag = '<small class="label bg-red">Extra</small>' } else { bag = '-' };
                        var content = "";
                            content += '<td>' + detalle.tipoServicio.descripcion + '</td>';
                            content += '<td>' + IsNull(detalle.localizador) + '</td>';
                            content += '<td>' + convertDate(IsNull(detalle.fechaIn)) + '</td>';
                            content += '<td>' + convertDate(IsNull(detalle.fechaLimite)) + '</td>';
                            content += '<td>' + detalle.proveedor.nombre + '</td>';
                            content += '<td>' + 'Wsicav Tours' + '</td>';
                            content += '<td>' + bag + '</td>';
                            content += '<td>' + monto + '</td>';
                            content += '<td>';
                            content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                            content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                            content += '</td>';

                        $("#tr_re_" + detalle.id).html(content);

                        //ACTUALIZANDO EL MONTO CON EL FOOTER
                        var res = (parseFloat(total) - parseFloat(montoaeditar)).toFixed(2);
                        var ope = (parseFloat(res) + parseFloat(monto)).toFixed(2);

                        $('#tbl-detalle-reser tfoot td').eq(0).text(ope);


                        $('#Reser_Id').remove(); //ELIMINO EL CAMPO DE RESERVA ID DEL FORM
                        $('#NuevaDreserva input:text').val('');
                        $('#NuevaDreserva input:checkbox').prop('checked', false);
                        $('#NuevaDreserva select option:first-child').attr("selected", "selected");
                        $("#NuevaDreserva button").html('<i class="fa fa-save"></i> Registrar');

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Actualización completada',
                            text: 'Se Actualizo el registro',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);
                    }
                }
                else {
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudo completar la acción',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
                error: function () {
                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //METODO OBTENER DATOS ACTUALIZAR
    $("body").on("click", '#tbl-detalle-reser a.btn-warning', function (e) {
    e.preventDefault();
        var id = $(this).data('id');

        SwallEsperarRe("get",id);

    });

    function ObtenerDatosRe(id) {
        $.ajax({
        type: 'POST',
        url: '/Solicitudes/GetDetalleReserva?id='+id+'&tipo=edit',
        cache: false,
        success: function(response)
            {
                if (response.rpt) {
                //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO 
                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfReserva/',
                        cache: false,
                        success: function (response) {
                            $("#frm_reser").html(response);
                            //Restableciendo la validacion
                            $("#NuevaDreserva").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevaDreserva");
                            $("#frm_reser span.text-danger").removeClass('field-validation-valid');
                            //CAPTURADOR MONTO EDITAR
                            montoaeditar = $('#Reser_Monto').val();
                        }
                    });
                    setTimeout(() => {
                        Swal.close()
                    }, 500);

                }
                else {

                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudieron obtener los datos del registro',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {

                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //METODO DE ELIMINAR
    $("body").on("click", '#tbl-detalle-reser a.btn-danger', function () {
        var id = $(this).data('id');
        //SWALL DE ACTIVACION VA AQUI

        const swalWithBootstrapButtons = Swal.mixin({
            buttonsStyling: false,
            customClass: {
            confirmButton: 'btn btn-success swal',
            cancelButton: 'btn btn-danger swal'
            },
        })

        swalWithBootstrapButtons.fire({
            title: 'Estas seguro de eliminar?',
            text: "El registro a descartar no sera posible de recuperar",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false,
            showLoaderOnConfirm: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            preConfirm: function() {
            return new Promise(function(resolve) {
            setTimeout(function () {
                resolve()// AL PARECER ES UN METODO PARA HACER FUNCIONAR EL PRECONFIRM NO ESTA LIGADO A ESTE CREO
                DeleteReservas(id) //SE LLAMA AL METODO ELIMINAR
                }, 900)
            })
            }
        }).then((result) => {
            if (result.value) {
            swalWithBootstrapButtons.fire(
                'Eliminado!',
                'El registro ha sido eliminado.',
                'success'
            )
            }
        })

    });
        
    function DeleteReservas(id) {
        //ELIMINAR
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleReserva?id='+ id+'&tipo=del',
            cache: false,
            success: function (response) {
                if (response.rpt) {
                    var total = $('#tbl-detalle-reser tfoot td:eq(0)').text();
                    var monto = response.data.monto;
                    var ope = (parseFloat(total) - parseFloat(monto)).toFixed(2);
                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $("#tr_re_" + id).remove(); //ELIMINA FILA ASINCORNAMENTE
                    $('#tbl-detalle-reser tfoot td').eq(0).text(ope);

                    //EL SWALL BUENO VA AQUI CREO
                }
                else {
                    Swal.fire(
                      'Error',
                      'No se pudo eliminar el registro',
                      'error'
                    )
                }
            },
            error: function () {
                Swal.fire(
                    'Error',
                    'Ocurrio un error en la acción consulte con su proveedor',
                    'error'
                )
            }
        });
    }

</script>


