﻿@model ProyectoWsicav.Models.viw_Biblia

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>viw_Biblia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombresPasajeros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombresPasajeros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Files)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Files)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nPasajeros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nPasajeros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idioma)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idioma)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Servicios)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Servicios)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoServicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoServicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuiaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuiaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehiculoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehiculoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReservaDetalleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReservaDetalleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaIn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
