﻿<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Proveedores</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaProveedor" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Proveedor</th>
                                <th>Tipo Documento</th>
                                <th>Numero Documento</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblProveedor Prove in ViewBag.Proveedor)
                            {

                            <tr>
                                <td>@Prove.Codigo</td>
                                <td>@Prove.Nombre</td>
                                <td>@Prove.TipoDocumentoIdentidad.Descripcion</td>
                                <td>@Prove.Documento</td>
                                <td>@Prove.Direccion</td>
                                <td>@Prove.Telefono</td>
                                <td>@Prove.Email</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="Modificar" asp-controller="Proveedores" asp-route-id="@Prove.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Proveedores" asp-route-id="@Prove.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->