﻿@model VmFile

<style>
    .a {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
    }

    .a2 {
        background-color: #34495E;
    }
</style>
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="@Url.Content("~/lib/timepicker/bootstrap-timepicker.min.css")">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css")" />

<!-- Sweet Alert2 -->
<link rel="stylesheet" href="@Url.Content("~/lib/sweetalert/sweetalert2.min.css")" />
<script src="@Url.Content("~/lib/sweetalert/sweetalert2.min.js")"></script>
<br />

<div class="col-xs-2">

</div>

<div class="col-xs-8">
    <div class="box box-danger">
        <div class="box-header with-border">
            <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background: #5DADE2;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" style="font-weight: bold;">ENVIAR COTIZACION AL CLIENTE</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/Solicitudes/EnviaCorreo" method="post" class="form-horizontal">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Cliente/Correo:</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="Correo" class="form-control" value="@ViewBag.CorreoCliente" placeholder="Ingrese Correo">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Asunto:</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="Asunto" class="form-control" placeholder="Asunto">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Mensaje:</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="Mensaje" class="form-control" placeholder="Mensaje">
                                        </div>

                                    </div>
                                    <div style="display:none;">
                                        <label for="inputEmail3" class="col-sm-2 control-label">idFile:</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="IdFile" id="IdFile" class="form-control">
                                        </div>

                                    </div>

                                    @*<div class="form-group">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Cliente:</label>
                                    <div class="col-sm-5">
                                        <select asp-items="ViewBag.Clientes" name="Clienteid" class="form-control" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option selected="selected" data-select2-id="3">Seleccionar ...</option>
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <a asp-action="" class="btn btn-success"><i class="fa fa-check"></i> Crear Cliente </a>
                                    </div>
                                </div>*@

                                </div>

                                <!--Botones-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> </button>
                                    <button asp-action="EnviaCorreo" type="submit" class="btn btn-success"><i class="fa fa-send"></i> Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>File</label>
                    <input asp-for="solicitud.Nomfile" class="form-control" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Solicitud</label>
                    <input asp-for="solicitud.NumeroSolicitud" type="text" class="form-control" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Cliente</label>
                    <input asp-for="solicitud.Cliente.Nombre" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Fecha solicitud</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="solicitud.FechaSolicitud" type="text" class="form-control pull-right" readonly>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Usuario</label>
                    <input type="text" class="form-control" readonly value="Administrador">
                </div>
                <div class="form-group col-md-4">
                    <label>Estatus solicitud</label>
                    <input type="hidden" asp-for="solicitud.Estadofile" value="@Model.solicitud.Estadofile" />
                    <input type="hidden" asp-for="solicitud.Cancelaestado" value="@Model.solicitud.Cancelaestado" />
                    <input type="text" id="NombreEstado" class="form-control" readonly value="">
                </div>
            </div>
            <div class="form-row text-center">
                @{
                    if (!(bool)Model.solicitud.Cancelaestado)
                    {
                        if (Model.solicitud.Estadofile != 0)
                        {
                            <div class="btn-group"><a id="btvolver" asp-action="VerDetalle" asp-route-id="@Model.solicitud.Id" class="btn btn-warning"><i class="fa fa-chevron-left"></i>&nbsp;Volver</a></div>
                            <div class="btn-group"><a id="btchng" asp-action="CamEstado" asp-route-id="@Model.solicitud.Id" class="btn btn-success"><i class="fa fa-refresh"></i>&nbsp;Cambiar estado</a></div>
                            <div class="btn-group"><a id="btcan" asp-action="CancelarRecuperara" asp-route-Id="@Model.solicitud.Id" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Cancelar</a></div>
                        }
                    }
                    else
                    {
                        <div class="btn-group"><a href="/Solicitudes/CancelarRecuperara/@Model.solicitud.Id" class="btn btn-success"><i class="fa fa-plus-circle"></i>&nbsp;Recuperar</a></div>
                    }
                }

            </div>
        </div>
    </div>
    <!-- /.col -->
</div>

<div class="col-md-12">
    <br />
    <div class="box box-primary">
        <div class="box-header with-border">
            <ul class="nav nav-tabs flex-wrap">
                <li class="lida "><a data-toggle="tab" href="#NavDato" class="a a2">Datos</a></li>
                <li class="lipa "><a data-toggle="tab" href="#NavPasa" class="a a2">Pasajeros</a></li>
                <li class="lico "><a data-toggle="tab" href="#NavCoti" class="a a2">Cotización </a></li>
                <li class="lire "><a data-toggle="tab" href="#NavRese" class="a a2">Reservas</a></li>
                <li class="licl "><a data-toggle="tab" href="#NavLiCli" class="a a2">Liquidacion Cliente </a></li>
                <li class="lipr "><a data-toggle="tab" href="#NavLiPro" class="a a2">Liquidacion Proveedor </a></li>
                <li class="lifa "><a data-toggle="tab" href="#NavFac" class="a a2">Facturación</a></li>
            </ul>

            <div class="tab-content">

                <div id="NavDato" class="tab-pane fade in ">
                    <partial name="~/Views/Solicitudes/File/Datos.cshtml" />
                </div>

                <div id="NavPasa" class="tab-pane fade in ">
                    <div id="frm_pasa">
                        <partial name="~/Views/Solicitudes/File/Pasajeros.cshtml" />
                    </div>
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tbl-detalle-pasajero" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Nombre y Apellidos</th>
                                                    <th>Edad</th>
                                                    <th>Nacionalidad</th>
                                                    <th>Tipo Pasajero</th>
                                                    <th>Documento de identidad</th>
                                                    <th>Numero Documento</th>
                                                    <th>Principal</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*@foreach (TblPasajeros p in ViewBag.DetallePasaj)
                                                {
                                                    <tr id="tr_pa_@p.Id">
                                                        <td>@p.NombresPasajeros</td>
                                                        <td>@p.Edad</td>
                                                        <td>@p.Nacionalidad</td>
                                                        <td>@p.TipoPasajero.Descripcion</td>
                                                        <td>@p.TipoDocumentoIdentidad.Descripcion</td>
                                                        <td>@p.NumeroDucumento</td>
                                                        <td>
                                                            @if (p.Principal == true)
                                                            {<small class="label bg-blue">Principal</small>}
                                                        </td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }*@
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <div id="NavCoti" class="tab-pane fade in  ">
                    <div id="frm_coti">
                        <partial name="~/Views/Solicitudes/File/Cotizacion.cshtml" />
                    </div>
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title" style="font-weight: bold;">Listado de Cotizaciones</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tbl-detalle-coti" class="table table-bordered table-striped tablas">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Cotización</th>
                                                    <th>Numero Cotización</th>
                                                    <th>Archivo</th>
                                                    <th>Monto Total</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ decimal? icot, sumcot = 0; }
                                                @foreach (TblCotizacion c in ViewBag.DetalleCoti)
                                                {
                                                    <tr id="tr_co_@c.Id">
                                                        <td>@String.Format("{0:dd/MM/yyyy}", c.FechaCotizacion)</td>
                                                        <td>@c.NumeCotizacion</td>
                                                        <td>@c.Documentonombre</td>
                                                        <td>@c.Monto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DCoti" asp-route-Id="@c.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-block btn-info btn-xs" id="pdfid" name="pdfid" value="@c.Id.ToString()" data-toggle="modal" data-target="#exampleModalLong2" onclick="PasarValor(@c.Id.ToString());"><i class="fa fa-envelope"></i></button>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a href="https://api.whatsapp.com/send?phone=@c.Solicitud.Cliente.Telefono&text=@ViewBag.Link/Solicitudes/DownloadFile?Id=@c.Id&Tipoaccion=DCoti" class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@c.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@c.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    if (c.Monto == null)
                                                    {
                                                        icot = 0;
                                                    }
                                                    else
                                                    { icot = c.Monto; }
                                                    sumcot += icot;
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="3">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@sumcot</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <div id="NavRese" class="tab-pane fade in ">
                    <div id="frm_reser">
                        <partial name="~/Views/Solicitudes/File/Reservas.cshtml" />
                    </div>
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tbl-detalle-reser" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tipo Reserva</th>
                                                    <th>Localizador</th>
                                                    <th>Fecha de Reservación</th>
                                                    <th>Fecha Limite</th>
                                                    <th>Proveedor</th>
                                                    <th>Operador</th>
                                                    <th>Servicio Extra</th>
                                                    <th>Importe</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ decimal? ireser, sumreservar = 0; }
                                                @foreach (TblReservasDetalle p in ViewBag.DetalleReserva)
                                                {
                                                    <tr id="tr_re_@p.Id">
                                                        <td>@p.TipoServicio.Descripcion</td>
                                                        <td>@p.Localizador</td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaIn)</td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLimite)</td>
                                                        <td>@p.Proveedor.Nombre</td>
                                                        <td>Wsicav Tours</td>
                                                        <td>
                                                            @if (p.Adicional == true)
                                                            {<small class="label bg-red">Extra</small>}
                                                        </td>
                                                        <td>@p.Monto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" @*data-idsoli="@p.SolicitudId"*@ class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    if (p.Monto == null)
                                                    {
                                                        ireser = 0;
                                                    }
                                                    else
                                                    { ireser = p.Monto; }
                                                    sumreservar += ireser;
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="7">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@sumreservar</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <div id="NavLiCli" class="tab-pane fade in ">
                    <div id="frm_licl">
                        <partial name="~/Views/Solicitudes/File/LiCliente.cshtml" />
                    </div>
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tbl-detalle-licli" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Liquidacion</th>
                                                    <th>Forma de Pago</th>
                                                    <th>Banco</th>
                                                    <th>Titular</th>
                                                    <th>Número de Tarjeta</th>
                                                    <th>N° Voucher</th>
                                                    <th>Archivo </th>
                                                    <th>Importe</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ decimal? icli, sumcli = 0; }
                                                @foreach (TblLiquiCliente p in ViewBag.DetalleLiCliente)
                                                {
                                                    <tr id="tr_lc_@p.Id">
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLcliente)</td>
                                                        <td>@p.FormaPago</td>
                                                        <td>@p.Banco</td>
                                                        <td>@p.Titular</td>
                                                        <td>@p.NumeTarjeta</td>
                                                        <td>@p.NumeVouch</td>
                                                        <td>@p.Documentonombre</td>
                                                        <td>@p.Monto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DLic" asp-route-Id="@p.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    if (p.Monto == null)
                                                    {
                                                        icli = 0;
                                                    }
                                                    else
                                                    { icli = p.Monto; }
                                                    sumcli += icli;
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="7">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@sumcli</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <div id="NavLiPro" class="tab-pane fade in ">
                    <div id="frm_lipr">
                        <partial name="~/Views/Solicitudes/File/LiProveedor.cshtml" />
                    </div>
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tbl-detalle-lipro" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Liquidacion</th>
                                                    <th>Proveedor</th>
                                                    <th>Forma de Pago</th>
                                                    <th>Banco</th>
                                                    <th>Titular</th>
                                                    <th>Número de Tarjeta</th>
                                                    <th>N° voucher</th>
                                                    <th>Archivo </th>
                                                    <th>Pago por Cliente</th>
                                                    <th>Importe</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ decimal? ipro, sumpro = 0; }
                                                @foreach (TblLiquiProve p in ViewBag.DetalleLiProveedor)
                                                {
                                                    <tr id="tr_lp_@p.Id">
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLprove)</td>
                                                        <td>@p.Proveedor.Nombre</td>
                                                        <td>@p.FormaPago</td>
                                                        <td>@p.Banco</td>
                                                        <td>@p.Titular</td>
                                                        <td>@p.NumeTarjeta</td>
                                                        <td>@p.NumeVaucher</td>
                                                        <td>@p.Documentonombre</td>
                                                        <td>
                                                            @if (p.PagoCliente == true)
                                                            {<small class="label bg-red">Comisión</small>}
                                                        </td>
                                                        <td>@p.Monto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DLip" asp-route-Id="@p.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    if (p.Monto == null)
                                                    {
                                                        ipro = 0;
                                                    }
                                                    else
                                                    { ipro = p.Monto; }
                                                    sumpro += ipro;
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="9">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@sumpro</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <div id="NavFac" class="tab-pane fade in ">
                    <div id="frm_fac">
                        <partial name="~/Views/Solicitudes/File/Facturacion.cshtml" />
                    </div>
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title" style="font-weight: bold;">Listado de Facturas</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tbl-detalle-fact" class="table table-bordered table-striped tablas">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Facturación</th>
                                                    <th>N° de Factura</th>
                                                    <th>Archivo</th>
                                                    <th>Monto a Facturar</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ decimal? ifact,sumfact = 0; }
                                                @foreach (TblFactura f in ViewBag.DetalleFact)
                                                {
                                                    <tr id="tr_fa_@f.Id">
                                                        <td>@String.Format("{0:dd/MM/yyyy}", f.FechaFactu)</td>
                                                        <td>@f.NumeFactu</td>
                                                        <td>@f.Documentonombre</td>
                                                        <td>@f.Monto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DFact" asp-route-Id="@f.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@f.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a data-id="@f.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    if (f.Monto == null)
                                                    {
                                                        ifact = 0;
                                                    }
                                                    else
                                                    { ifact = f.Monto; }
                                                    sumfact += ifact;
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="3">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@sumfact</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- bootstrap time picker -->
<script src="@Url.Content("~/lib/timepicker/bootstrap-timepicker.min.js")"></script>
<!-- bootstrap datepicker -->
<script src="@Url.Content("~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
<!--datepicker es-->
<script src="@Url.Content("~/lib/bootstrap-datepicker/bootstrap-datepicker.es.js")" charset="UTF-8"></script>
<!-- Custom JS de nosotros para metodos generales -->
<script src="@Url.Content("~/js/script.js")"></script>

<script>
    $(document).ready(function () {

        //Date picker
        $(".datepicker").datepicker({
            autoclose: true,
            language: 'es'
        });

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        })

        var cance = $("#solicitud_Cancelaestado").val();
        var estado = $("#solicitud_Estadofile").val();
        
        if (cance !== 'True') {
            PosicionamientoPestania(estado);
        } else {
            CancelarFile();
        }

        

        //var txt = $('#tbl-detalle-reser tfoot td:eq(0)').text();

        //var txt2 = '#tbl-detalle-reser tfoot td'
        //$(txt2).eq(0).text('perrito'); //BINGO


        //var num1 = parseFloat(txt).toFixed(2)
        //console.log(num1)
        //var num2 = parseFloat('100.45').toFixed(2);
        //console.log(num2)
        //var num3 = (parseFloat(txt) + parseFloat('100.45')).toFixed(2);
        //console.log(num3)

        //var num1 = parseFloat((txt).replace(',','.')).toFixed(2);
        //var num = parseFloat('100.45').toFixed(2);
        //var numc = Number(num).toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }); //Convertir
        //console.log(num);
        //console.log(num1);

        //var result = (parseFloat(num) + parseFloat(num1)).toFixed(2);
        //console.log(result)

    });
</script>

<script>
    if (location.href.includes('?')) {
        history.pushState({}, null, location.href.split('?')[0]);
    }
</script>

