﻿@model TblSolicitud
<br/>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="form-group">
                <label>Datos de la solicitud</label>
                <div class="box-body">
                    <form asp-action="Guardar" asp-controller="Solicitudes" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Estadofile" value="2" />
                        <input type="hidden" asp-for="Cancelaestado" value="false" />
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label>File: <input asp-for="Nomfile"></label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label for="inputEmail4">Solicitado Desde</label>
                                <select asp-for="Mediollegada" class="form-control">
                                    <option value="Pagina web">Pagina web</option>
                                    <option value="Correo">Correo</option>
                                    <option value="Facebook">Facebook</option>
                                    <option value="Telefono">Telefono</option>
                                    <option value="Wsp">Wsp</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label for="inputEmail4">Idioma</label>
                                <select asp-for="Idioma" class="form-control">
                                    <option value="Ingles">Ingles</option>
                                    <option value="Español">Español</option>
                                    <option value="Frances">Frances</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Tipo de reserva</label>
                                <div class="checkbox">
                                    <label><input asp-for="BoletoAereo">Boleto</label>
                                    <label><input asp-for="Hotel">Hotel</label>
                                    <label><input asp-for="Traslado">Traslado</label>
                                    <label><input asp-for="Excursion">Excursión</label>
                                    <label><input asp-for="Guias">Guias</label>
                                    <label><input asp-for="SeguroViajes">Seguro</label>
                                    <label><input asp-for="AlquilerCarro">Alquier de Carro</label>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label>Destino</label>
                                <select asp-for="DestinoId" asp-items="ViewBag.Galleta" class="form-control">
                                    <option selected>Seleccionar Destino</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Cantidad de Personas</label>
                                <div class="checkbox">
                                    <label>Adultos<input asp-for="Cntadulto" type="number" value="0" min="0" max="5"></label>
                                    <label>Niños<input asp-for="Cntnino" type="number" value="0" min="0" max="5"></label>
                                    <label>Infantes<input asp-for="Cntinfa" type="number" value="0" min="0" max="5"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Fechas y horarios</label>
                                <div class="checkbox">
                                    <label>Fecha de ida: <input asp-for="FechaIn" type="date"></label>
                                    <label>Fecha de retorno: <input asp-for="FechaOut" type="date"></label>
                                </div>
                                <div class="row form-group"></div>
                                <div class="checkbox">
                                    <label>Hora de ida: <input asp-for="HoraVueloIda" type="time"></label>
                                    <label>Hora de retorno: <input asp-for="HoraVueloRegreso" type="time"></label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
            


