﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wsicav | Cloud</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/lib/font-awesome/css/font-awesome.min.css")">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/bootstrap.min.css")">
    <!-- DataTables -->
    @*<link rel="stylesheet" href="@Url.Content("~/lib/datatables/dataTables.bootstrap.min.css")">*@
    <link rel="stylesheet" href="@Url.Content("~/lib/datatables/jquery.dataTables.min.css")">
    @*<link rel="stylesheet" href="@Url.Content("~/lib/datatables/jquery.dataTables_themeroller.css")">*@

    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/css/AdminLTE.min.css")">
    <!-- AdminLTE Skins. Choose a skin from the css/skins -->
    <link rel="stylesheet" href="@Url.Content("~/css/_all-skins.min.css")">
    <!--Custom CSS-->
    <link rel="stylesheet" href="@Url.Content("~/css/custom.css")">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="icon" type="image/png" href="@Url.Content("~/images/ico.png")" />

    <!-- jQuery 3 -->
    <script src="@Url.Content("~/lib/jquery/jquery.min.js")"></script>
    <!--VALIDACIONES-->
    <script src="@Url.Content("~/lib/jquery-validation/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="@Url.Content("~/lib/bootstrap/bootstrap.min.js")"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-black-light sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <partial name="~/Views/Shared/Vistas/_Header.cshtml" />
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <partial name="~/Views/Shared/Vistas/_Menu.cshtml" />
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- Header -->
        <footer class="main-footer">
            <partial name="~/Views/Shared/Vistas/_Footer.cshtml" />
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- JAVASCRIPT PAG -->


    <!-- AdminLTE App -->
    <script src="@Url.Content("~/js/adminlte.min.js")"></script>

    <!-- DataTables -->
    <script src="@Url.Content("~/lib/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/lib/datatables/dataTables.bootstrap.min.js")"></script>


    <script>
        //$.validator.methods.range = function (value, element, param) {
        //    var globalizedValue = value.replace(",", ".");
        //    return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        //}
        //$.validator.methods.number = function (value, element) {
        //    return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        //}
    </script>
</body>
</html>
