﻿
@{
    ViewData["Title"] = "Footer";
}

<div class="pull-right hidden-xs">
    <b>Version</b> Beta 1.1.0
</div>
<strong>Copyright &copy; 2019-2020 <a href="http://bsc.pe/">BSC SISTEMAS</a>.</strong> Todos los derechos reservados.
